/target
.project
.settings
.classpath
/.DS_Store
**/target
**/.project
**/.settings
**/.classpath
**/.DS_Store
*.class
# Eclipse files
.classpath
.project
.settings/
target/
build
*/src/main/resources/build.properties
*/*/src/main/resources/build.properties
# Intellij files
.idea/
*.iml