<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!--<root level="DEBUG">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</root>-->

    <logger name="org.eclipse.jetty.client.HttpSender" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.eclipse.jetty.client.HttpReceiver" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.cometd.client" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>